/* header {
  width: 300px;
}

header ul {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

header li {
  padding: 10px;
  background-color: #F6F7F8;
  color: #95bcf0;
  border: 1px solid #dee2e6;
  border-bottom: none;
  border-bottom: 1px solid #dee2e6;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

header a {
  text-decoration: none;
}

header li:active,
header li.active,
header a:active,
header a.active {
  background-color: white;
  color: black;
  border-bottom: none;
}

header li:not(.active):hover,
header a:not(.active):hover {
  color: #074EAF;
  border: 1px thin #dee2e6;
} */
